*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.clearfix::after{
    content: "";
    display: table;
    clear: both;
}

body{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.container{
    width: 80%;
    margin: 0 auto;
    min-width: 680px;
    max-width: 1000px;
}


h1{
    color: crimson;
    margin-top: 2rem;
    text-align: center;
    font-size: 2.5rem;
}

h1 ~ p{
    text-align: center;
    margin-top: 2.5rem;
}

div.cella>img{
    margin-right: .5rem;
    height: 5rem;
}

.float-left{
    float: left;
}

div.contenutoinpiù{
    padding: .5rem;
}

div.contenutoinpiù h2{
    font-size: 1rem;
    text-transform: uppercase;
    margin-bottom: .25rem;
}
div.cella{
    width: calc( (100% / 3) - 3rem);
    margin: 3rem 1.5rem 0rem;
    background-color: black;
    color: white;
    box-shadow: 10px 10px lightgray;
}

div.contenutoinpiù p{
    margin-bottom: .25rem;
}
