*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

circle::after{
    content: "";
    display: table;
    clear: both;
}

body{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

header>h1{
    color: crimson;
    padding: 2rem;
    text-align: center;
}


.container{
    width: 60%;
    margin: 0 auto;
}

main section{
    padding-top: 2rem;
}

main section img{
    height: 5rem;
}

.marco{
    display: inline-block;
    height: 5rem;
    background-color: black;
    color: white;
}
